<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- (When we have Java + Selenium + TestNG + Gradle) If I want to run the step definition file, I need to keep this !-->

<suite name="QkartAutomationSuite">
    <test name="LoginTests">
        <classes>

            <class name="TestFiles.Flipkart.FlipkartTest">

                <methods>

                    <include name="TestCase01"/>


                </methods>

            </class>

        </classes>
    </test>
</suite>




<!-- (Only this when we use cucumber framework) If I want to run the TestRunner file, I need to keep this !-->

<!--

<suite name="QkartAutomationSuite">

    <test name="CucumberTests">

        <classes>

            <class name="Runner.TestRunner"/>

        </classes>

    </test>

</suite>

!-->
