<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="QkartAutomationSuite">
    <test name="LoginTests">
        <classes>

            <!-- <class name="StepDefinationFile.QkartAutomation.QkartLogin"/>   
            <class name="StepDefinationFile.QkartAutomation.QkartSearchbox"/> -->
            <class name="StepDefinationFile.FlipkartAutomation.FlipkartTest"/>
            
            
        </classes>
    </test>
</suite>
